USE [TKQClock]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 06/04/2023 16:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[TenDangNhap] [varchar](100) NOT NULL,
	[MatKhau] [varchar](100) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
	[SDT] [varchar](50) NULL,
	[GioiTinh] [varchar](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDONDATHANG]    Script Date: 06/04/2023 16:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONDATHANG](
	[MaDDH] [int] NOT NULL,
	[MaDH] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [numeric](10, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDDH] ASC,
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonDatHang]    Script Date: 06/04/2023 16:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDatHang](
	[MaDDH] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[NgayDat] [datetime] NULL,
	[NgayGiao] [datetime] NULL,
	[Tinhtranggiaohang] [bit] NULL,
	[DaThanhToan] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DongHo]    Script Date: 06/04/2023 16:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DongHo](
	[MaDH] [int] IDENTITY(1,1) NOT NULL,
	[TenDH] [nvarchar](255) NOT NULL,
	[ImgUrl] [text] NULL,
	[MoTaNgan] [nvarchar](255) NULL,
	[SoLuongTon] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[GiaBan] [numeric](10, 0) NULL,
	[MaHDH] [int] NULL,
	[MaLoai] [int] NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[ChatLieu] [nvarchar](50) NULL,
	[Dai] [nvarchar](50) NULL,
	[KichThuoc] [nvarchar](50) NULL,
	[Mausac] [nvarchar](50) NULL,
	[Maubanhxe] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangDongHo]    Script Date: 06/04/2023 16:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangDongHo](
	[MaHDH] [int] IDENTITY(1,1) NOT NULL,
	[TenHang] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 06/04/2023 16:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](50) NOT NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [varchar](3) NULL,
	[SDT] [varchar](50) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[TenDangNhap] [varchar](100) NULL,
	[MatKhau] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDongHo]    Script Date: 06/04/2023 16:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDongHo](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinTuc]    Script Date: 06/04/2023 16:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTuc](
	[MaTT] [int] IDENTITY(1,1) NOT NULL,
	[Img] [text] NULL,
	[TieuDe] [nvarchar](100) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayTao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Admin] ([TenDangNhap], [MatKhau], [HoTen], [DiaChi], [SDT], [GioiTinh]) VALUES (N'admin', N'admin', N'tuan', N'Phú Yên', N'0123654789', N'Nam')
INSERT [dbo].[Admin] ([TenDangNhap], [MatKhau], [HoTen], [DiaChi], [SDT], [GioiTinh]) VALUES (N'admin1', N'admin1', N'khoi', N'Đà Lạt', N'0124478536', N'Nam')
INSERT [dbo].[Admin] ([TenDangNhap], [MatKhau], [HoTen], [DiaChi], [SDT], [GioiTinh]) VALUES (N'admin2', N'admin2', N'quang', N'Sài Gòn', N'0123456789', N'Nam')
GO
INSERT [dbo].[CHITIETDONDATHANG] ([MaDDH], [MaDH], [SoLuong], [DonGia]) VALUES (3, 14, 1, CAST(900000 AS Numeric(10, 0)))
INSERT [dbo].[CHITIETDONDATHANG] ([MaDDH], [MaDH], [SoLuong], [DonGia]) VALUES (4, 13, 1, CAST(150002 AS Numeric(10, 0)))
INSERT [dbo].[CHITIETDONDATHANG] ([MaDDH], [MaDH], [SoLuong], [DonGia]) VALUES (5, 13, 1, CAST(150002 AS Numeric(10, 0)))
GO
SET IDENTITY_INSERT [dbo].[DonDatHang] ON 

INSERT [dbo].[DonDatHang] ([MaDDH], [MaKH], [NgayDat], [NgayGiao], [Tinhtranggiaohang], [DaThanhToan]) VALUES (1, 4, CAST(N'2023-03-28T09:20:24.297' AS DateTime), CAST(N'2023-03-29T00:00:00.000' AS DateTime), 0, 0)
INSERT [dbo].[DonDatHang] ([MaDDH], [MaKH], [NgayDat], [NgayGiao], [Tinhtranggiaohang], [DaThanhToan]) VALUES (2, 4, CAST(N'2023-03-28T10:35:38.797' AS DateTime), CAST(N'2023-03-30T00:00:00.000' AS DateTime), 0, 0)
INSERT [dbo].[DonDatHang] ([MaDDH], [MaKH], [NgayDat], [NgayGiao], [Tinhtranggiaohang], [DaThanhToan]) VALUES (3, 4, CAST(N'2023-04-04T18:38:27.280' AS DateTime), CAST(N'2023-04-07T00:00:00.000' AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[DonDatHang] OFF
GO
SET IDENTITY_INSERT [dbo].[DongHo] ON 

SET IDENTITY_INSERT [dbo].[DongHo] OFF
GO
SET IDENTITY_INSERT [dbo].[HangDongHo] ON 

INSERT [dbo].[HangDongHo] ([MaHDH], [TenHang]) VALUES (1, N'ORIENT')
INSERT [dbo].[HangDongHo] ([MaHDH], [TenHang]) VALUES (2, N'ROLEX')
INSERT [dbo].[HangDongHo] ([MaHDH], [TenHang]) VALUES (3, N'PATEK PHILIPPE')
SET IDENTITY_INSERT [dbo].[HangDongHo] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [NgaySinh], [GioiTinh], [SDT], [DiaChi], [TenDangNhap], [MatKhau]) VALUES (1, N'tuan', CAST(N'2001-04-03T00:00:00.000' AS DateTime), N'Nam', N'1234567890', N'Quận 7', N'tuan', N'123')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [NgaySinh], [GioiTinh], [SDT], [DiaChi], [TenDangNhap], [MatKhau]) VALUES (3, N'quang ', CAST(N'2003-02-02T00:00:00.000' AS DateTime), N'Nam', N'0123456789', N'Long xuyên', N'quang', N'321')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [NgaySinh], [GioiTinh], [SDT], [DiaChi], [TenDangNhap], [MatKhau]) VALUES (4, N'Thieu Anh Khoi', CAST(N'2002-09-28T00:00:00.000' AS DateTime), N'Nam', N'0523448966', N'Quan 7', N'khoi123@gmail.com', N'202cb962ac59075b964b07152d234b70')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiDongHo] ON 

INSERT [dbo].[LoaiDongHo] ([MaLoai], [TenLoai]) VALUES (1, N'Cổ điển')
INSERT [dbo].[LoaiDongHo] ([MaLoai], [TenLoai]) VALUES (2, N'Thể Thao')
INSERT [dbo].[LoaiDongHo] ([MaLoai], [TenLoai]) VALUES (3, N'Đương đại')
SET IDENTITY_INSERT [dbo].[LoaiDongHo] OFF
GO
SET IDENTITY_INSERT [dbo].[TinTuc] ON 

INSERT [dbo].[TinTuc] ([MaTT], [Img], [TieuDe], [NoiDung], [NgayTao]) VALUES (1, N'Co nen choi the thao khong.jpg', N'Có nên đeo đồng hồ cơ khi chơi thể thaoo?', N'Các bộ môn như tennis và golf cần lực giật ở cánh tay để tạo cú đánh, gây ra quán tính mạnh lên chiếc đồng hồ, hậu quả có thể làm bung kim, thậm chí cả phần mặt. Đặc biệt với những chiếc đồng hồ automatic (có bộ phận rotor lên cót tự động) còn nguy hại hơn khi có thể gãy trụ, trục máy, văng rotor.', CAST(N'2023-04-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[TinTuc] OFF
GO
ALTER TABLE [dbo].[CHITIETDONDATHANG]  WITH CHECK ADD  CONSTRAINT [PK_MaDDH_CT] FOREIGN KEY([MaDDH])
REFERENCES [dbo].[DonDatHang] ([MaDDH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CHITIETDONDATHANG] CHECK CONSTRAINT [PK_MaDDH_CT]
GO
ALTER TABLE [dbo].[CHITIETDONDATHANG]  WITH CHECK ADD  CONSTRAINT [PK_MaDH_CT] FOREIGN KEY([MaDH])
REFERENCES [dbo].[DongHo] ([MaDH])
GO
ALTER TABLE [dbo].[CHITIETDONDATHANG] CHECK CONSTRAINT [PK_MaDH_CT]
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD  CONSTRAINT [PK_MaKH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DonDatHang] CHECK CONSTRAINT [PK_MaKH]
GO
ALTER TABLE [dbo].[DongHo]  WITH CHECK ADD  CONSTRAINT [PK_MaDH] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiDongHo] ([MaLoai])
GO
ALTER TABLE [dbo].[DongHo] CHECK CONSTRAINT [PK_MaDH]
GO
ALTER TABLE [dbo].[DongHo]  WITH CHECK ADD  CONSTRAINT [PK_MaHDH] FOREIGN KEY([MaHDH])
REFERENCES [dbo].[HangDongHo] ([MaHDH])
GO
ALTER TABLE [dbo].[DongHo] CHECK CONSTRAINT [PK_MaHDH]
GO
ALTER TABLE [dbo].[CHITIETDONDATHANG]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[CHITIETDONDATHANG]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[DongHo]  WITH CHECK ADD CHECK  (([GiaBan]>(0)))
GO
/****** Object:  StoredProcedure [dbo].[Dangkitaikhoan]    Script Date: 06/04/2023 16:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Dangkitaikhoan]
@MaKH 	int ,
@TenKH 	nvarchar(50),
@NgaySinh 	datetime,
@GioiTinh	varchar(3),
@SDT		varchar(50),
@DiaChi	nvarchar(255),
@TenDangNhap varchar(100),
@MatKhau varchar(100)
as
begin
insert into KhachHang values(@TenKH,@NgaySinh,@GioiTinh,@SDT,@DiaChi,@TenDangNhap,@MatKhau)
end
GO
/****** Object:  StoredProcedure [dbo].[Suamatkhau_Customers]    Script Date: 06/04/2023 16:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[Suamatkhau_Customers]

@TenDangNhap varchar(100),
@MatKhau varchar(100)
as
begin
	Update KhachHang 
	set MatKhau = @MatKhau
	where TenDangNhap = @TenDangNhap
end
GO
/****** Object:  StoredProcedure [dbo].[SuaThongTinKhachHang]    Script Date: 06/04/2023 16:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[SuaThongTinKhachHang]
@MaKH 	int ,
@TenKH 	nvarchar(50),
@NgaySinh 	datetime,
@GioiTinh	varchar(3),
@SDT		varchar(50),
@DiaChi	nvarchar(255),
@TenDangNhap varchar(100),
@MatKhau varchar(100)
as
begin
update KhachHang
Set TenKH = @TenKH, NgaySinh =@NgaySinh, GioiTinh= @GioiTinh,SDT = @SDT,DiaChi = @DiaChi, MatKhau= @MatKhau
where TenDangNhap = @TenDangNhap
end
GO
/****** Object:  StoredProcedure [dbo].[TimKiemDonDatHang]    Script Date: 06/04/2023 16:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[TimKiemDonDatHang]
	@chuoitimkiem nvarchar(50)
as
begin
	select * 
	from DonDatHang
	Where MaDDH like '%'+@chuoitimkiem+'%' or MaKH like '%'+@chuoitimkiem+'%'  or
	NgayDat like '%'+@chuoitimkiem+'%' or NgayGiao like '%'+@chuoitimkiem+'%' or Tinhtranggiaohang like '%'+@chuoitimkiem+'%' or DaThanhToan like '%'+@chuoitimkiem+'%' 

end
GO
/****** Object:  StoredProcedure [dbo].[TimKiemDongHo]    Script Date: 06/04/2023 16:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[TimKiemDongHo]
	@chuoitimkiem nvarchar(50)
as
begin
	select * 
	from DongHo
	where MaDH like '%'+@chuoitimkiem+'%'  or TenDH like '%'+@chuoitimkiem+'%'  or
	ImgUrl like '%'+@chuoitimkiem+'%' or MoTaNgan like '%'+@chuoitimkiem+'%'   or
	SoLuongTon like '%'+@chuoitimkiem+'%'  or NgayCapNhat like '%'+@chuoitimkiem+'%' or
	GiaBan like '%'+@chuoitimkiem+'%' or MaHDH like '%'+@chuoitimkiem+'%' or MaLoai like '%'+@chuoitimkiem+'%'
end 
GO
/****** Object:  StoredProcedure [dbo].[TimKiemThongTinKhachHang]    Script Date: 06/04/2023 16:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[TimKiemThongTinKhachHang]
	@chuoitimkiem	nvarchar(50)
as
begin
	select *
	from KhachHang
	where MaKH like '%'+@chuoitimkiem+'%' or TenKH  like '%'+@chuoitimkiem+'%' or NgaySinh  like '%'+@chuoitimkiem+'%' or GioiTinh  like '%'+@chuoitimkiem+'%' or 
	   SDT  like '%'+@chuoitimkiem+'%' or DiaChi  like '%'+@chuoitimkiem++'%' or TenDangNhap like '%'+@chuoitimkiem++'%' 
end
GO
